*,
::after,
::before {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
}
html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'Figtree', sans-serif;
}

.content {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.page-break {
  page-break-after: always;
}

.header-logo {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: .5rem;
}

.header-logo > img {
  width: auto;
  height: 80px;
}

.content {
  position: relative;
  display: block;
}

.text--heading,
.text--title {
  font-family: 'Figtree', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}

.text--heading {
  margin-top: .5rem !important;
  margin-bottom: 0px !important;
}

.text--heading ~ p {
  margin-top: 0px !important;
  margin-bottom: 1.5rem !important;
}

.text--sub-title {
  font-size: 1.15rem !important;
  margin-bottom: .5rem !important;
}

.text--center{
  text-align: center;
}

.term-list li{
  margin-bottom: .35rem;
}

flex-wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 0 .5rem;
}

flex-child {

}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  text-align: center;
  font-size: 12px;
  color: #666;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

.schedule-table,
.note-table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

.note-table tr, 
.note-table th, 
.note-table td {
  border: 1px solid black;
  text-align: center;
}

.note-table .col-date {
  width: 30% !important;
}

.note-table .col-package {
  width: 50% !important;
}

.note-table .col-price {
  width: 20% !important;
}

.schedule-table th,
.schedule-table td {
  padding: 2px;
  border: 1px solid black;
  width: 100% !important;
  max-width: calc(100% / 6) !important;
}

.info-table th,
.info-table td {
  border: 1px solid black;
  padding: 2px 4px;
  text-align: left;
}

.info-table th {
  font-weight: bold;
}

.info-table td:first-child {
  font-weight: bold;
  width: 200px !important;
}