@charset "UTF-8";

@import 'base/base';
@import 'base/content';
@import 'base/typography';

@import 'components/loader';
@import 'components/dropdown';
@import 'components/toggle-bar';

@import 'layout/header';
@import 'layout/sidebar';
@import 'layout/nav';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}